@* Tela de login*@
@* Cabeçalho / menu *@
<header class="header_login">

     <h1 style="display: none ;"> Tela login</h1> 
    <img src="~/css/images/Logo19.png" alt="logo de SleighList">
    <p class="texto_banner">Deixe a correria para o Papai Noel, <br>
                             organize tudo com o SleighList.</p>

</header>
<main class="main_login">


    <form action="" >

        <div class="froma"> 
        <h2 class="quasso">Acesse seu Conta</h2>

            <label for="email">E-mail</label>
            <input type="email" nane = "email">


            <div class="bolilha">

            <label for="Senha">Senha</label>
            <input type="password" name="Senha"


            </div>
          <button type="submit">Acesse</button>
            </div>

    </form>


</main>


<footer class="footer_login">

    <p>© 2024 - SEDUC - Agenda Natal</p>

    </footer>
